* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav {
  padding: 1em;
  background-color: #fff;
}

a.nav-link.nav-item {
  color: #5558fb;
}

a.nav-link.nav-item:hover {
  color: #a2a4fb;
}

a.nav-link.active.nav-item {
  background-color: #5558fb;
  color: #fff;
}

a.nav-link.active.nav-item:hover {
  background-color: #7072ff;
  color: #fff;
}

body {
  font-family: "acumin-pro", Helvetica, Arial, sans-serif;
  font-size: 1em;
  color: #000;
  padding-top: 55px;
  position: relative;
}

.container-fluid {
  padding: 0;
}

.banner {
  background-color: rgba(151, 151, 222, 0.6);
  padding: 1em;
}

#intro {
  background-color: #9696d7;
  background-image: url(https://image.ibb.co/bvQe4G/header.png);
  background-size: cover;
  margin: 0;
  padding: 10em 0em;
  text-align: center;
  color: #fff;
}

#intro h1 {
  font-size: 3em;
  font-weight: 700;
}

#about h1, #contact h1 {
  font-size: 2em;
  font-weight: 700;
  color: #9797de;
  text-align: center;
}

#about .container {
  padding: 1em 3em;
}

#about, #portfolio, #contact {
  padding: 2em;
}

#about .lead {
  font-weight: 700;
}

#portfolio {
  background-color: #9797de;
}

#portfolio div.row {
  justify-content: center;
}

#portfolio div.col {
  flex-grow: 0;
  padding: 0.5em;
}

.card-img-top {
  border-bottom: 1px solid #eee;
}

div.card {
  width: 20rem;
  transition: all .2s ease-in-out;
}

div.card:hover {
  transform: scale(1.05);
}

.btn-primary {
  background-color: #5558fb;
  border-color: #4b4ddd;
}

.btn-primary:hover {
  background-color: #7072ff;
  border-color: #6062dd;
}

footer {
  padding: 2em;
  background-color: #222;
  color: #fff;
}

footer ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
}

footer li {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  padding: 0em 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer span {
  color: #fff;
  text-decoration: none;
  font-size: 2em;
}

footer span:hover {
  color: #adadff;
}

/* Form styles */
input[type=text], input[type=email], textarea {
    padding: 12px 16px;
    margin: 8px 0;
    display: block;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #9797de;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #4e61bc;
}

/* Tablet Styles */
@media (min-width: 481px) {
  #portfolio div.col {
    padding: 0.75em;
  }

  #portfolio div.card {
    width: 22rem;
  }
}

/* Desktop Styles */
@media (min-width: 1025px) {
  #intro {
    padding: 18em 0em;
  }

  body {
    padding-top: 70px;
  }

  #about .container {
    padding: 1em 10em;
  }
}
