@import url("https://use.typekit.net/pra7iea.css");

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a.nav-link.nav-item {
  color: #5558fb;
}

.nav {
  padding: 1em;
  background-color: #fff;
}

.nav-pills .nav-link.active {
  background-color: #5558fb;
  color: #fff;
}

.nav-pills .nav-link.active:hover {
  background-color: #7072ff;
}

a.nav-link.nav-item:hover {
  color: #a2a4fb;
  text-decoration: underline;
}

body {
  font-family: "acumin-pro", Helvetica, Arial, sans-serif;
  color: #000;
  font-size: 16px;
  line-height: 1.25em;
  padding-top: 55px;
}

.container-fluid {
  padding: 0;
}

.banner {
  background-color: rgba(151, 151, 222, 0.6);
  margin: -15px -15px;
  padding: 1em;
}

#intro {
  background-color: #9696d7;
  background-image: url(https://image.ibb.co/bvQe4G/header.png);
  background-size: cover;
  margin: 0;
  padding: 8em 1em;
  text-align: center;
  color: #fff;
}

#intro h1 {
  font-size: 3em;
  font-weight: 800;
}

#about h1, #contact h1 {
  font-size: 2em;
  font-weight: 600;
  color: #9797de;
  text-align: center;
}

#about .container {
  padding: 1em 3em;
}

#about, #portfolio, #contact {
  padding: 2em;
}

#portfolio {
  background-color: #9797de;
}

.card-img-top {
  border-bottom: 1px solid #eee;
}

.btn-primary {
  background-color: #5558fb;
  border-color: #4b4ddd;
}

.btn-primary:hover {
  background-color: #7072ff;
  border-color: #6062dd;
}

footer {
  padding: 2em;
  background-color: #222;
  color: #fff;
}

footer ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
}

footer li {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  padding: 0em 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer span {
  color: #fff;
  text-decoration: none;
  font-size: 2em;
}

footer span:hover {
  color: #adadff;
}

/* Form styles */
input[type=text], input[type=email], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #9797de;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #4e61bc;
}

@media (min-width: 64em) {

  nav li a {
    font-size: 14pt;
  }

  body {
    line-height: 1.5em;
  }

  #intro {
    padding: 17em 1em;
  }

  body {
    padding-top: 60px;
  }

  #about .container {
    padding: 1em 15em;
  }
}
